<div class="p-2 p-md-5">
  <div class="row">
    <div class="col-md-6 col-12">
      <h2>{{ productData?.name }}</h2>
      <div>
        <img class="detail-img my-4" src="{{ productData?.imageUrl }}" alt="">
      </div>
      <h2>₦ {{ productData?.price }}</h2>
    </div>
    <div class="col-md-6 col-12">
      <div class="mt-5">
        <p>{{ productData?.description }}</p>
        <div class="d-flex justify-content-center">
          <a *ngIf="productData?.ownerId === authUserId" routerLink="/products/{{productID}}/edit">
            <button type="button" class="btn btn-primary">Edit</button>
          </a>
            <button (click)="addProductToCart(productData)" type="button" class="btn btn-success cart-but mx-4">Add To Cart</button>
            <button *ngIf="productData?.ownerId === authUserId" (click)="onDeleteProduct(productID)" type="button" class="btn btn-danger cart-but">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
