<div class="junbo-bg">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-md-center">
      <div class="caption-cont">
        <h1 class="caption-text">Welcome to PapiStore...</h1>
        <p class="caption-para">The Home of Brands.</p>
      </div>
      <div class="d-none d-xl-block caption-right">
        <img src="https://dev.warehousegig.com/images/hero/hero.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="latest-prod-wrapper mb-5">
  <div class="latest-cont">
    <div>
      <div class="latest-text">Latest Products</div>
      <div class="image-grip">
        <div *ngFor="let product of latestProducts.slice(-4); let i = index" class="image">
          <a routerLink="/products/{{product?.id}}">
            <img class="image" src="{{product?.imageUrl}}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
